{% extends "::base.html.twig" %}

{% block title %}ContactboxBundle:PhoneNumber:createPhonenumber{% endblock %}

{% block body %}
<h1>Welcome to the PhoneNumber:createPhonenumber page</h1>
{% endblock %}
