{% extends "::base.html.twig" %}

{% block title %}ContactboxBundle:PhoneNumber:deletePhonenumber{% endblock %}

{% block body %}
<h1>Welcome to the PhoneNumber:deletePhonenumber page</h1>
{% endblock %}
