<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    {% block menu %}
        <p>MENU:</p>
        <p>
            <a href="{{ path('contactbox_contact_showallcontacts') }}">All contacts</a> |
            <a href="{{ path('fos_user_profile_show') }}">Profile</a> |
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        </p>
        <br>
    {% endblock %}
    {% block content %}




    {% endblock %}
    {% block footer %}
        <p>footer here</p>
    {% endblock %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
